body{
    background-color:#e8eaf6;
}
.imagenes{
    overflow: hidden;
}
a{
    color: black;
}
h1 {
    color: white;

}
nav {
    opacity: 0.7;
    position: absolute;
    z-index:2;
    top:0;
    width: 100%;
    position: fixed;
}
.main {
    padding:100px;
    color: initial;
    background-color: #9fa8da;
    font-family: "Archivo Narrow";
}

nav ul {
    margin-right: 100px; 
}
nav ul li {
    display: inline;
}
.nuestros {
    padding:100px;
    background-color: #bbdefb;
}
nav ul li:hover {
    background: black;
    color: white;
}
#productos{
    margin-top:0;
}
h3 {
    padding-bottom: 100px;
    margin: 0;
}
.row {
    margin-bottom: 0;
}
#contacto {
    padding: 100px;
}
footer {
    padding: 100px;
}
h2 {
    padding-bottom: 100px;
}