body{
    background-color:#e8eaf6;
}
.imagenes{
    overflow: hidden;
}
a{
    color: black;
}
h1 {
    color: white;

}
nav {
    opacity: 0.7;
    position: absolute;
    z-index:2;
    top:0;
    width: 100%;
    position: fixed;
}
.main {
    padding:100px;
    color: initial;
    background-color: #9fa8da;
    font-family: "Archivo Narrow";
}

nav ul {
    margin-right: 100px; 
}
nav ul li {
    display: inline;
}
.nuestros {
    padding:100px;
    background-color: #bbdefb;
}
nav ul li:hover {
    background: black;
    color: white;
}
#productos{
    margin-top:0;
}
h3 {
    padding-bottom: 100px;
    margin: 0;
}
.row {
    margin-bottom: 0;
}
.parrafo {
    margin-bottom: 100px;
}
#contacto {
    padding: 100px;
    margin-bottom: 100px;
}
footer {
    padding: 100px 100px 0px 100px;

}
h2 {
    padding-bottom: 100px;
}
.checkbox{
    background: #283593;
}
#facebook {
    padding: 5px;
    background-color:#01579b;
    display: inline-block;
    border-radius: 10px
}
#twitter {
   padding: 5px;
    background-color: #64b5f6;
    display: inline-block;
    border-radius: 10px
}
#instagram {
padding: 5px;
background: #9c24b5; /* Old browsers */
background: -moz-linear-gradient(top, #9c24b5 1%, #cc2a7b 39%, #d12741 52%, #d6c773 78%, #ddd842 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9c24b5 1%,#cc2a7b 39%,#d12741 52%,#d6c773 78%,#ddd842 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9c24b5 1%,#cc2a7b 39%,#d12741 52%,#d6c773 78%,#ddd842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c24b5', endColorstr='#ddd842',GradientType=0 ); /* IE6-9 */  
 
    display: inline-block;
    border-radius: 10px
}
.redessociales{
    display: inline-block;
}
.car {
    max-width: 500px;

}
.img {
width: 500px !important;
overflow: hidden;
}
